:root {
    --app-text-color: #FFF;
    --app-text-rgb: 255, 255, 255;
    --app-background-color: #32313d;
    --app-background-rgb: 50, 49, 61;
    --app-box-color: #282737;
    --app-box-rgb: 40, 39, 55;
    --app-box-border: rgba(57, 57, 57, 0.08);
    --app-primary-color: #ed762c;
    --app-primary-rgb: 237, 118, 44;
    --app-primary-darker: #eb6a19;
    --app-primary-dark: #dd6013;
    --app-red-color: #f44336;
    --app-overlay-color: #0B1A29;
    --app-overlay-rgb: 11, 26, 41;
    --app-input-background: #333241;
    --app-input-bg-rgb: 57, 56, 70;
    --app-input-border: #282737;
    --app-input-border-rgb: 40, 39, 55;
}

[data-theme="light"] {
    --app-text-color: #0B1A29;
    --app-text-rgb: 11, 26, 41;
    --app-background-color: #FBFCFD;
    --app-background-rgb: 251, 252, 253;
    --app-box-color: #FFFFFF;
    --app-box-rgb: 255, 255, 255;
    --app-box-border: #E5E5E5;
    --app-input-background: #F2F2F2;
    --app-input-bg-rgb: 242, 242, 242;
    --app-input-border: #F0F0F0;
    --app-input-border-rgb: 240, 240, 240;
}

$btnHeight: 34px;
$btnRadius: 18px;
$modalOverlayAlpha: 0.8;

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    height: 100vh;
    color: var(--app-text-color);
}

body {
    background-color: var(--app-background-color);

    &.modal--open {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5 { margin: 0; }
h1, h2, h3, h4 { font-weight: 400; }

svg { pointer-events: none; }

[data-hidden="true"] { display: none !important; }

/* margins */
.ml-12 { margin-left: 12px; }
.mr-12 { margin-right: 12px; }
.mt-24 { margin-top: 24px; }

[hidden="hidden"] { display: none; }

@keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    }
    25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    }
    90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}

.app-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .sk-folding-cube {
        margin: 20px auto;
        width: 40px;
        height: 40px;
        position: relative;
        transform: rotateZ(45deg);

        .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            transform: scale(1.1);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--app-primary-color);
                animation: sk-foldCubeAngle 2.4s infinite linear both;
                transform-origin: 100% 100%;
            }
        }

        .sk-cube2 {
            transform: scale(1.1) rotateZ(90deg);

            &:before {
                animation-delay: 0.3s;
            }
        }

        .sk-cube3 {
            transform: scale(1.1) rotateZ(180deg);

            &:before {
                animation-delay: 0.6s; 
            }
        }

        .sk-cube4 {
            transform: scale(1.1) rotateZ(270deg);

            &:before {
                animation-delay: 0.9s;
            }
        }
    }
}

.app-loaded {
    .app-loader {
        display: none;
    }
}

.app-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .app-header {
        position: relative;
        padding: 32px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: inline-flex;
            font-size: 24px;
            cursor: pointer;

            img {
                height: 40px;
                width: auto;
                pointer-events: none;
            }
        }

        .user-panel {
            position: relative;
            float: right;

            .profile-panel {
                display: flex;
            }

            .user-pic {
                border-radius: 50%;
                pointer-events: none;
            }

            .user-name {
                margin: 0 8px;
                line-height: 40px;
            }

            .user-menus-caret {
                height: 18px;
                width: 18px;
                line-height: 18px;
                align-self: center;
                display: flex;
                align-content: center;
                justify-content: center;
                cursor: pointer;

                .caret { 
                    display: block; 

                    svg { fill: var(--app-text-color); }
                }
            }

            .user-menus-panel {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 8px;
                min-width: 150px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(8px);
                transition: visibility .24s, opacity .24s, transform .24s;
                z-index: 1;

                &.shown {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                ul {
                    margin: 0;
                    padding: 8px 0;
                    list-style: none;
                    background-color: var(--app-primary-color);
                    border-radius: 20px;
                    overflow: hidden;
                }

                li.divider {
                    padding: 0 20px;
                    margin: 8px 0;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, .2);
                    }
                }

                li a {
                    display: flex;
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    padding: 10px 20px;
                    white-space: nowrap;
                    transition: background-color .24s ease;

                    &:hover { background-color: rgba($color: var(--app-overlay-rgb), $alpha: 0.1); }
                    &:active { background-color: rgba($color: var(--app-overlay-rgb), $alpha: 0.2); }

                    .opt-icon {
                        height: 18px;
                        width: 18px;
                        text-align: center;
                        margin-right: 8px;

                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .app-content {
        position: relative;
        flex: 1 auto;
        display: flex;
        padding: 0 64px;

        .content {
            flex: 1;
            // display: flex;
            // flex-direction: column;
            position: relative;
            // margin: 0 64px;
            padding: 36px 32px;
            border-radius: 10px;
            background-color: var(--app-box-color);
            // min-height: calc(100% - 72px);
            // height: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.06);
        }
    }

    .app-footer {
        position: relative;
        padding: 30px 64px 16px;
        font-size: 13px;

        #powered-by {
            float: right;
        }

        &::after {
            display: block;
            clear: both;
        }
    }
}

.clearfix {
    clear: both;
}

/* input styles */
input:not([type="checkbox"]):not([hidden="hidden"]),
textarea, select {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    padding: 10px;
    background-color: var(--app-input-background);
    border: 1px solid rgba($color: var(--app-input-border-rgb), $alpha: 0.08);
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;

    &:focus {
        border: 1px solid rgba(11, 26, 41, 0.38);
    }

    &:disabled {
        background-color: rgba($color: var(--app-input-bg-rgb), $alpha: 0.2);
    }
}

textarea {
    resize: none;
}

.input-field {
    position: relative;
    margin-bottom: 24px;

    label {
        display: block;
        margin-bottom: 8px;
    }

    .input-error {
        color: var(--app-red-color);
        font-size: 13px;
    }
}

/* button styles */
.btn {
    display: inline-block;
    line-height: $btnHeight;
    padding: 0 20px;
    text-decoration: none;
    color: var(--app-text-color);
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--app-input-background);
    border-radius: $btnRadius;

    & + & {
        margin-left: 12px; 
    }

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-small {
        padding: 0 15px;
        line-height: 24px;
        border-radius: 4px;

        & + & {
            margin-left: 8px;
        }
    }

    &.btn-primary {
        color: #FFF;
        background-color: var(--app-primary-color);
        transition: background-color .2s;

        &:not(.btn-link):disabled {
            background-color: rgba($color: var(--app-primary-rgb), $alpha: 0.3);
        }

        &:not(:disabled):hover {
            background-color: var(--app-primary-darker);
        }

        &:not(:disabled):active {
            background-color: var(--app-primary-dark);
        }
    }

    &.btn-danger {
        background-color: var(--app-red-color);

        &:not(.btn-link):disabled {
            background-color: rgba($color: var(--app-red-color), $alpha: 0.3);
        }
    }
    
    &.btn-link {
        background-color: transparent;
        
        &.btn-link.btn-primary { color: var(--app-primary-color); }
        &.btn-link.btn-danger { color: var(--app-red-color); }

        &:hover {
            text-decoration: underline;
        }
    }
}

/* graph styles */
.graph-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.graph-header {
    position: relative;
    display: flex;

    .page-back {
        flex: 1 auto;
    }

    .page-title {
        flex: 1 auto;
    }

    .graph-filters {
        justify-content: right;
    }
}

.graph-content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    padding: 24px;
    text-align: center;

    .chart-header {
        margin-bottom: 32px;

        .chart-title {
            display: block;
            font-size: 30px;
            line-height: 38px;
        }

        .chart-subtitle {
            display: block;
            line-height: 20px;
            font-size: 14px;
            color: rgba($color: var(--app-text-rgb), $alpha: 0.5);
        }
    }

    .bottom-filters {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;

        .graph-filter {
            margin: 0 16px;
        }
    }
}

.graph-footer {
    display: flex;
    padding-top: 24px;
    padding-right: 24px;
    justify-content: space-between;
    align-items: center;
}

.graph-range-btns {
    flex: 1 auto;

    .graph-range-btn {
        display: inline-block;
        border-radius: $btnRadius;
        line-height: $btnHeight;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color .24s linear, color .24s;

        & + .graph-range-btn { margin-left: 4px; }

        &:hover {
            background-color: rgba($color: var(--app-input-bg-rgb), $alpha: 0.3);
        }
        
        &.btn--active {
            background-color: var(--app-input-background);
            color: var(--app-primary-color);
        }
    }
}

.graph-filter {
    position: relative;
    display: inline-block;
    border-radius: $btnRadius;
    line-height: $btnHeight;
    height: $btnHeight;
    padding: 0 32px 0 20px;
    cursor: pointer;
    user-select: none;
    background-color: var(--app-input-background);

    & + .graph-filter {
        margin-left: 12px;
    }

    .caret {
        display: block;
        position: absolute;
        top: 50%;
        right: 11px;
        margin-top: -1px;
        width: 10px;
        height: 6px;
        line-height: initial;

        svg {
            display: inherit;
            width: 10px;
            height: 6px;
            fill: var(--app-text-color);
        }
    }
}

.page-back {
    // flex: 1 auto;
    display: flex;
    align-items: center;

    .back-button {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: rgba($color: var(--app-text-rgb), $alpha: 0.5);

        .btn {
            height: 24px;
            margin-right: 8px;

            svg { 
                float: left;
            }
        }
    }
}

.page-opt-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 50%;
    background-color: var(--app-input-background);

    .dot {
        display: block;
        width: 4px;
        height: 4px;
        background-color: var(--app-text-color);
        border-radius: 50%;

        & + .dot {
            margin-top: 4px;
        }
    }
}

.page-opt-panel {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    background-color: var(--app-input-background);
    border-radius: 20px;
    border: 1px solid var(--app-input-border);
    overflow: hidden;

    ul {
        list-style: none;
        margin: 15px 0;
        padding: 0;
    }

    a {
        display: block;
        line-height: 34px;
        padding: 0 16px;
        min-width: 100px;
        cursor: pointer;
        user-select: none;
        transition: background-color .24s;

        &:hover, &:focus {
            background-color: rgba($color: var(--app-box-rgb), $alpha: 0.4);
        }

        &:active {
            background-color: rgba($color: var(--app-box-rgb), $alpha: 0.6);
        }
    }
}

.has-modal {
    &::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba($color: var(--app-background-rgb), $alpha: 0.7);
        transition: visibility .5s, opacity .5s;
        z-index: 98;
    }
    &.modal--open::after {
        visibility: visible;
        opacity: 1;
        transition: visibility .24s, opacity .24s;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: var(--app-background-rgb), $alpha: 0.75);
        z-index: -1;
    }

    .modal-wrapper {
        position: relative;
        min-width: 280px;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--app-box-color);
        border: 1px solid rgba(11, 26, 41, 0.08);
        box-shadow: 0px 0px 30px rgba(9, 34, 58, 0.03);
        border-radius: 10px;
        z-index: 100;

        .modal-close {
            position: absolute;
            top: 16px;
            right: 16px;
            height: 24px;
            cursor: pointer;
            z-index: 1;

            svg {
                fill: var(--app-primary-color);
            }
        }

        .modal-header {
            padding: 16px 24px 8px;
        }

        .modal-body {
            padding: 8px 24px 0 24px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .modal-footer {
            padding: 0 24px 20px;
            text-align: right;
        }
    }
}

/* transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity .24s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fadeUp-enter-active, .fadeUp-leave-active {
    transition: opacity .24s, transform .24s;
}
.fadeUp-enter, .fadeUp-leave-to {
    opacity: 0;
    transform: translateY(8px);
}

.modalIn-enter-active, .modalIn-leave-active {
    // transition: opacity .24s, margin-top .24s;
    transition: opacity .24s, transform .24s;
}
.modalIn-enter, .modalIn-leave-to {
    opacity: 0;
    transform: scale(1.065);
    // margin-top: 24px;
}

/* custom scrollbar */
.custom-scroll::-webkit-scrollbar { height: 8px; width: 8px; }
.custom-scroll::-webkit-scrollbar-button { height:0; width:0; }
.custom-scroll::-webkit-scrollbar-button:start:decrement,
.custom-scroll::-webkit-scrollbar-button:end:increment { display:block; }
.custom-scroll::-webkit-scrollbar-button:vertical:start:increment,
.custom-scroll::-webkit-scrollbar-button:vertical:end:decrement { display:none; }
.custom-scroll::-webkit-scrollbar-track:vertical {
    background-clip: padding-box;
    background-color: transparent;
    border-left-width: 4px;
    border-right-width:0;
}
.custom-scroll::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: transparent;
    border-bottom-width: 0;
    border-top-width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    box-shadow:inset 1px 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100px;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.4);
}
.custom-scroll::-webkit-scrollbar-thumb:active {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.5);
}
.custom-scroll::-webkit-scrollbar-track:hover {
    box-shadow:inset 1px 0 0 rgba(0,0,0,.2);
    background-color:rgba(0,0,0,.05);
}
.custom-scroll::-webkit-scrollbar-track:active {
    box-shadow:inset 1px 0 0 rgba(0,0,0,.25), inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05);
}

/* floor mapper */
@keyframes sensorPulse {
    0% {
        stroke: rgba(1,254,1,0.9);
        stroke-width: 1;
    }
    70% {
        stroke: rgba(1,254,1,0);
        stroke-width: 14;
    }
    100% {
        stroke: rgba(1,254,1,0);
        stroke-width: 1;
    }
}

@keyframes pulseOccupied {
    0% {
        stroke: rgba(255,134,0,0.9);
        stroke-width: 1;
    }
    70% {
        stroke: rgba(255,134,0,0);
        stroke-width: 14;
    }
    100% {
        stroke: rgba(255,134,0,0);
        stroke-width: 1;
    }
}

.floor-map {
    position: relative;
    height: 100%;
    // width: 100%;
    box-sizing: border-box;

    .tooltip {
        position: fixed;
        padding: 10px 12px;
        text-align: left;
        background: var(--app-background-color);
        border-radius: 8px;
        pointer-events: none;
        font-size: 12px;
        opacity: 0;

        div + div {
            margin-top: 2px;
        }

        .caret {
            content: '';
            position: absolute;
            // left: 50%;
            top: 100%;
            // margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--app-background-color) transparent transparent transparent;
        }
    }

    .sensor {
        &.hovered {
            filter: grayscale(80%);
        }
    }
    
    svg {
        pointer-events: initial !important;
    }

    .live-pulse {
        .sensor {
            stroke: rgba(1,254,1,0.3);
            stroke-width: 5;

            &.available {
                animation: sensorPulse 2s infinite;
            }

            &.occupied {
                animation: pulseOccupied 2s infinite;
            }
        }
    }
}

/* nprogress override */
#nprogress {
    .bar {
        background: var(--app-primary-color) !important;
    }

    .peg {
        box-shadow: 0 0 10px var(--app-primary-color), 0 0 5px var(--app-primary-color) !important;
    }

    .spinner-icon {
        border-left-color: var(--app-primary-color) !important;
        border-top-color: var(--app-primary-color)  !important;
    }
}

/* Commons */
.error-display {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    justify-content: center;
    height: 200px;
}

/* Custom date picker theme */
$theme: 'orange';                 // theme name
$headerBg: #e96513;             // header background color
$highlight: #ed762c;            // current date color, selected date(s) highlight color
$selectedHighlight: #cf5a11;    // selected highlight & buttons color

.dudp__wrapper[data-theme='#{$theme}'] {
    .dudp__calendar-header { background-color: $headerBg !important; }

    .dudp__calendar {
        .dudp__cal-week {
            .dudp__date.current { color: $highlight !important; }

            .dudp__date.in-range,
            .dudp__date.range-from,
            .dudp__date.range-to { background-color: rgba($color: $highlight, $alpha: 0.2) !important; }

            .dudp__date.selected:before,
            .dudp__date.range-from:before,
            .dudp__date.range-to:before { background-color: $highlight !important; }

            .dudp__date.selected:hover:before,
            .dudp__date.range-from:hover:before,
            .dudp__date.range-to:hover:before { background-color: $selectedHighlight !important; }
        }
    }

    .dudp__buttons .dudp__button,
    .dudp__months-view .dudp__month.selected,
    .dudp__years-view .dudp__year.selected { color: $selectedHighlight !important; }
}