@import url("https://fonts.googleapis.com/css?family=Lato:400,500");

$bg: #32313d;
$wrapperBg: #282737;
$primaryColor: #ed762c;
$secondaryOverlay: #0B1A29;
$btnHeight: 34px;
$btnRadius: 18px;
$modalOverlay: #0B1A29;
$modalOverlayAlpha: 0.8;

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    height: 100vh;
    color: #fff;
}

body {
    background-color: $bg;

    &.modal--open {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5 { margin: 0; }
h1, h2, h3, h4 { font-weight: 400; }

svg { pointer-events: none; }

/* margins */
.ml-12 { margin-left: 12px; }
.mt-24 { margin-top: 24px; }

[hidden="hidden"] { display: none; }

.app-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .app-header {
        position: relative;
        padding: 32px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: inline-flex;
            font-size: 24px;
            cursor: pointer;

            img {
                height: 40px;
                width: auto;
                pointer-events: none;
            }
        }

        .user-panel {
            position: relative;
            float: right;

            .profile-panel {
                display: flex;
            }

            .user-pic {
                border-radius: 50%;
                pointer-events: none;
            }

            .user-name {
                margin: 0 8px;
                line-height: 40px;
            }

            .user-menus-caret {
                height: 18px;
                width: 18px;
                line-height: 18px;
                align-self: center;
                display: flex;
                align-content: center;
                justify-content: center;
                cursor: pointer;

                .caret { 
                    display: block; 

                    svg { fill: #fff; }
                }
            }

            .user-menus-panel {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 8px;
                min-width: 150px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(8px);
                transition: visibility .24s, opacity .24s, transform .24s;
                z-index: 1;

                &.shown {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

                ul {
                    margin: 0;
                    padding: 8px 0;
                    list-style: none;
                    background-color: $primaryColor;
                    border-radius: 20px;
                    overflow: hidden;
                }

                li.divider {
                    padding: 0 20px;
                    margin: 8px 0;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, .2);
                    }
                }

                li a {
                    display: flex;
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    padding: 10px 20px;
                    white-space: nowrap;
                    transition: background-color .24s ease;

                    &:hover { background-color: rgba($color: $secondaryOverlay, $alpha: 0.1); }
                    &:active { background-color: rgba($color: $secondaryOverlay, $alpha: 0.2); }

                    .opt-icon {
                        height: 18px;
                        width: 18px;
                        text-align: center;
                        margin-right: 8px;

                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .app-content {
        position: relative;
        flex: 1 auto;
        display: flex;
        padding: 0 64px;

        .content {
            flex: 1;
            // display: flex;
            // flex-direction: column;
            position: relative;
            // margin: 0 64px;
            padding: 36px 32px;
            border-radius: 10px;
            background-color: $wrapperBg;
            // min-height: calc(100% - 72px);
            // height: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.06);
        }
    }

    .app-footer {
        position: relative;
        padding: 30px 64px 16px;
        font-size: 13px;

        #powered-by {
            float: right;
        }

        &::after {
            display: block;
            clear: both;
        }
    }
}

.clearfix {
    clear: both;
}

/* input styles */
input:not([type="checkbox"]):not([hidden="hidden"]),
textarea, select {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    padding: 10px;
    background-color: #393846;
    border: 1px solid rgba(11, 26, 41, 0.08);
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;

    &:focus {
        border: 1px solid rgba(11, 26, 41, 0.38);
    }

    &:disabled {
        background-color: rgba($color: #393846, $alpha: 0.7);
    }
}

textarea {
    resize: none;
}

.input-field {
    position: relative;
    margin-bottom: 24px;

    label {
        display: block;
        margin-bottom: 8px;
    }
}

/* button styles */
.btn {
    display: inline-block;
    line-height: $btnHeight;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background-color: #393846;
    border-radius: $btnRadius;

    & + & {
        margin-left: 12px; 
    }

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-small {
        padding: 0 15px;
        line-height: 24px;
        border-radius: 4px;

        & + & {
            margin-left: 8px;
        }
    }

    &.btn-primary {
        background-color: $primaryColor;

        &:not(.btn-link):disabled {
            background-color: rgba($color: $primaryColor, $alpha: 0.7);
        }
    }

    &.btn-danger {
        background-color: #f44336;

        &:not(.btn-link):disabled {
            background-color: rgba($color: #f44336, $alpha: 0.7);
        }
    }
    
    &.btn-link {
        background-color: transparent;
        
        &.btn-link.btn-primary { color: $primaryColor; }
        &.btn-link.btn-danger { color: #f44336; }

        &:hover {
            text-decoration: underline;
        }
    }
}

/* graph styles */
.graph-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.graph-header {
    position: relative;
    display: flex;

    .page-back {
        flex: 1 auto;
    }

    .graph-filters {
        justify-content: right;
    }
}

.graph-content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    padding: 24px;
    text-align: center;

    .chart-header {
        margin-bottom: 32px;

        .chart-title {
            display: block;
            font-size: 30px;
            line-height: 38px;
        }

        .chart-subtitle {
            display: block;
            line-height: 20px;
            font-size: 14px;
            color: rgba($color: #ffffff, $alpha: 0.5);
        }
    }

    .bottom-filters {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;

        .graph-filter {
            margin: 0 16px;
        }
    }
}

.graph-footer {
    display: flex;
    padding-top: 24px;
    padding-right: 24px;
    justify-content: space-between;
    align-items: center;
}

.graph-range-btns {
    flex: 1 auto;

    .graph-range-btn {
        display: inline-block;
        border-radius: $btnRadius;
        line-height: $btnHeight;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color .24s linear, color .24s;

        & + .graph-range-btn { margin-left: 4px; }

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.03);
        }
        
        &.btn--active {
            background-color: rgba($color: #fff, $alpha: 0.05);
            color: $primaryColor;
        }
    }
}

.graph-filter {
    position: relative;
    display: inline-block;
    border-radius: $btnRadius;
    line-height: $btnHeight;
    height: $btnHeight;
    padding: 0 32px 0 20px;
    cursor: pointer;
    user-select: none;
    background-color: rgba($color: #fff, $alpha: 0.05);

    & + .graph-filter {
        margin-left: 12px;
    }

    .caret {
        display: block;
        position: absolute;
        top: 50%;
        right: 11px;
        margin-top: -1px;
        width: 10px;
        height: 6px;
        line-height: initial;

        svg {
            display: inherit;
            width: 10px;
            height: 6px;
            fill: #fff;
        }
    }
}

.page-back {
    // flex: 1 auto;
    display: flex;
    align-items: center;

    .back-button {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: rgba($color: #ffffff, $alpha: 0.5);

        .btn {
            height: 24px;
            margin-right: 8px;

            svg { 
                float: left;
            }
        }
    }
}

.page-opt-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.05);

    .dot {
        display: block;
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 50%;

        & + .dot {
            margin-top: 4px;
        }
    }
}

.page-opt-panel {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    background-color: $bg;
    border-radius: 20px;
    overflow: hidden;

    ul {
        list-style: none;
        margin: 15px 0;
        padding: 0;
    }

    a {
        display: block;
        line-height: 34px;
        padding: 0 16px;
        min-width: 100px;
        cursor: pointer;
        user-select: none;
        transition: background-color .24s;

        &:hover, &:focus {
            background-color: rgba($color: $wrapperBg, $alpha: 0.4);
        }

        &:active {
            background-color: rgba($color: $wrapperBg, $alpha: 0.6);
        }
    }
}

.has-modal {
    &::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba($color: $bg, $alpha: 0.7);
        transition: visibility .5s, opacity .5s;
        z-index: 98;
    }
    &.modal--open::after {
        visibility: visible;
        opacity: 1;
        transition: visibility .24s, opacity .24s;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $bg, $alpha: 0.7);
        z-index: -1;
    }

    .modal-wrapper {
        position: relative;
        min-width: 280px;
        max-width: 90%;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #282737;
        border: 1px solid rgba(11, 26, 41, 0.08);
        box-shadow: 0px 0px 30px rgba(9, 34, 58, 0.03);
        border-radius: 10px;
        z-index: 100;

        .modal-close {
            position: absolute;
            top: 16px;
            right: 16px;
            height: 24px;
            cursor: pointer;
            z-index: 1;

            svg {
                fill: $primaryColor;
            }
        }

        .modal-header {
            padding: 16px 24px 8px;
        }

        .modal-body {
            padding: 8px 24px 0 24px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .modal-footer {
            padding: 0 24px 20px;
            text-align: right;
        }
    }
}

/* transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity .24s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fadeUp-enter-active, .fadeUp-leave-active {
    transition: opacity .24s, transform .24s;
}
.fadeUp-enter, .fadeUp-leave-to {
    opacity: 0;
    transform: translateY(8px);
}

.modalIn-enter-active, .modalIn-leave-active {
    // transition: opacity .24s, margin-top .24s;
    transition: opacity .24s, transform .24s;
}
.modalIn-enter, .modalIn-leave-to {
    opacity: 0;
    transform: scale(1.065);
    // margin-top: 24px;
}

/* custom scrollbar */
.custom-scroll::-webkit-scrollbar { height: 8px; width: 8px; }
.custom-scroll::-webkit-scrollbar-button { height:0; width:0; }
.custom-scroll::-webkit-scrollbar-button:start:decrement,
.custom-scroll::-webkit-scrollbar-button:end:increment { display:block; }
.custom-scroll::-webkit-scrollbar-button:vertical:start:increment,
.custom-scroll::-webkit-scrollbar-button:vertical:end:decrement { display:none; }
.custom-scroll::-webkit-scrollbar-track:vertical {
    background-clip: padding-box;
    background-color: transparent;
    border-left-width: 4px;
    border-right-width:0;
}
.custom-scroll::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: transparent;
    border-bottom-width: 0;
    border-top-width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    box-shadow:inset 1px 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100px;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.4);
}
.custom-scroll::-webkit-scrollbar-thumb:active {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.5);
}
.custom-scroll::-webkit-scrollbar-track:hover {
    box-shadow:inset 1px 0 0 rgba(0,0,0,.2);
    background-color:rgba(0,0,0,.05);
}
.custom-scroll::-webkit-scrollbar-track:active {
    box-shadow:inset 1px 0 0 rgba(0,0,0,.25), inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05);
}

/* floor mapper */
.floor-map {
    position: relative;
    height: 100%;
    // width: 100%;
    box-sizing: border-box;

    .tooltip {
        position: absolute;
        padding: 6px 8px;
        text-align: left;
        background: #2B2B2B;
        border-radius: 4px;
        pointer-events: none;
        font-size: 12px;
        opacity: 0;

        &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #2B2B2B transparent transparent;
        }
    }
    
    svg {
        pointer-events: initial !important;
    }
}

/* nprogress override */
#nprogress {
    .bar {
        background: $primaryColor !important;
    }

    .peg {
        box-shadow: 0 0 10px $primaryColor, 0 0 5px $primaryColor !important;
    }

    .spinner-icon {
        border-left-color: $primaryColor !important;
        border-top-color: $primaryColor  !important;
    }
}